.project {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}
.project .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.project .box .card {

  background-image: linear-gradient(to top, transparent, #462255);
  border: 1px solid #462255;
  height: 280px;
  border-radius: 20px;
}
.project .box .card:hover {
  background: transparent;
  border: 1px solid #462255;
  cursor: pointer;
}
.project .box .card .imag {
  margin: 15px auto;
}
.project .box .card .imag img {
  width: 290px;
  height: 160px;
  border-radius: 20px;
  margin: auto;
}
.project .box .card .text {
  color: var(--color-white);
  margin-left: 15px;
  margin-bottom: 5px;
}
.project .box .card .buttons  {
  margin-left: 10px;
  margin-top: 10px;
 
 
}
.project .box .card .buttons a{
  padding: 15px;
  font-size: 20px;
}
.project .box .card .buttons:hover{
 transform: scale(1.05);
}
.project .box .card .buttons .btn {
  color: rgb(72, 68, 68);
}

.project .box .card .buttons {
  margin-left: 15px;
}
@media (max-width: 600px) {
  .project .box .card {
  
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .project .box .card {
    margin: auto;
  }
}
