#about {
  overflow: hidden;
  margin-bottom: 50px;
}
#about .imge {
  background-image: linear-gradient(
    transparent,
    var(--color-primary),
    transparent,
    var(--color-primary-variant)
  );
  border-radius: 30px;

  max-width: 100%;
  width: 350px;
}

#about .imge img {
  height: 390px;
  width: 350px;
  border-radius: 30px;
  transform: rotate(10deg);
  transition: var(--transition);
  cursor: pointer;
}
#about .imge img:hover {
  transform: rotate(0deg);
}
#about .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#about .text {
  text-align: center;
}
#about .text p{
  text-align: start;
  margin: 10px 0;
}
#about .content span,
#about .text h2 {
  color: darkkhaki;
}
@media (max-width: 992px) {
  #about .imge img {
    display: none;
  }

  #about .text h2 {
    margin-right: 35px;
  }
  #about .text a {
    margin-top: 15px;
    margin-right: 35px;
  }
}
@media (max-width: 600px) {
  #about .text p {
    max-width: 92%;
  }
  #about .text .box {
    margin: auto;
  }
}
